.custom-slider {
    -fx-pref-width: 400px;
}

.custom-slider .track {
    -fx-background-color: #2f343a;
    -fx-pref-height: 10px;
    -fx-border-color: #bc4144;
    -fx-color:#bc4144;
    -fx-border-width: 2;
}



